'.source.css':
  '!important':
    'prefix': '!'
    'body': '!important${1:;}$0'
  '@import':
    'prefix': 'import'
    'body': '@import "$0"'
    'description': 'Import style rules from other style sheets.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/@import'
  '@charset':
    'prefix': 'charset'
    'body': '@charset "${1:UTF-8}";$0'
    'description': 'Specifies the character encoding used in the style sheet.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/@charset'
  '@font-face':
    'prefix': 'fontface'
    'body': '@font-face {\n\t$1\n}$0'
    'description': 'Specify online fonts to display text on their web pages.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face'
  '@media':
    'prefix': 'media'
    'body': '@media ${1:query} {\n\t$2\n}$0'
    'description': 'A set of nested statements with a condition defined by a media query.'
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/@media'

'.source.css .meta.property-value':
  'rgb(red, green, blue)':
    'prefix': 'rgb'
    'body': "rgb(${1:255}, ${2:0}, ${3:0})${4:;}$0"
    'description': "Creates a Color from red (0-255), green (0-255), and blue (0-255)."
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#rgb()'
  'rgba(red, green, blue, alpha)':
    'prefix': 'rgba'
    'body': "rgba(${1:255}, ${2:0}, ${3:0}, ${4:0.5})${5:;}$0"
    'description': "Creates a Color from red (0-255), green (0-255), blue (0-255), and alpha (0-1)."
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#rgba()'
  'hsl(hue, saturation, lightness)':
    'prefix': 'hsl'
    'body': "hsl(${1:360}, ${2:100%}, ${3:100%})${4:;}$0"
    'description': "Creates a Color from hue (0-360), saturation (0-100%), and lightness (0-100%)."
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#hsl()'
  'hsla(hue, saturation, lightness, alpha)':
    'prefix': 'hsla'
    'body': "hsla(${1:360}, ${2:100%}, ${3:100%}, ${4:0.5})${5:;}$0"
    'description': "Creates a Color from hue (0-360), saturation (0-100%), lightness (0-100%), and alpha (0-1)."
    'descriptionMoreURL': 'https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#hsla()'
