'.source.css':
  'editor':
    'commentStart': '/*'
    'commentEnd': '*/'
    'foldEndPattern': '(?<!\\*)\\*\\*/|^\\s*\\}|\\/*\\s*@end\\s*\\*\\/'
    'completions':
      'selector':
        'selector': '.css.selector'
        'typePriority': 1
